<header>
    <nav>
        <div class="nav-fixed">
            <div class="nav-wrapper">
                <ul>
                    <li class="hide-on-med-and-down dropdown-trigger" data-target='dropdowncat' role="menu" aria-label="Categorías"><a href="#" tabindex="2">Categorías</a></li>
                    <li class="hide-on-med-and-down" aria-label="Contacto"><a href="#">Contacto</a></li>
                    <li><a href="#" data-target="mobile-nav" class="sidenav-trigger" role="menu" aria-label="menu"><i class="material-icons">menu</i></a></li>
                    <li><a href="/" style="color:#66fcf1; font-family: ave; font-size: 30px;" tabindex="1">Lecturópolis</a></li>
                    {{#if user}}
                        <li><a href="" class="sidenav-trigger bubble-noti head-img" style="margin-top: 7%; background: url({{user.image}}) 50% 0% no-repeat; background-size: cover;">
                            {{#if session.cart.totalQty}}
                            <span class="bubble-badge">{{session.cart.totalQty}}</span>
                            {{/if}}
                        </a></li>
                    {{else}}
                        <li><a href="/login" class="sidenav-trigger" aria-label="Inicio de sesión"><i class="material-icons">person</i></a></li>
                    {{/if}}
                    <li class="hide-on-med-and-down" aria-label="Eventos"><a href="/eventos">Eventos</a></li>
                    {{#if user}}
                        <li class="hide-on-med-and-down dropdown-trigger bubble-noti" data-target='dropdownuser' tabindex="0"><a>{{user.username}}
                            {{#if session.cart.totalQty}}
                            <span class="bubble-badge">{{session.cart.totalQty}}</span>
                            {{/if}}
                            </a></li>
                    {{else}}
                        <li class="hide-on-med-and-down" aria-label="Inicio de sesión"><a href="/login">Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

    <ul id="dropdowncat" class='dropdown-content'>
        <li><a href="/Terror" role="menuitem" aria-label="Terror">Terror</a></li>
        <li><a href="/Aventura" role="menuitem" aria-label="Aventura" tabindex="3">Aventura</a></li>
        <li><a href="/Erotico" role="menuitem" aria-label="Erótico" tabindex="4">Erótico</a></li>
        <li><a href="/Romantico" role="menuitem" aria-label="Romántico" tabindex="5">Romántico</a></li>
        <li><a href="/Historico" role="menuitem" aria-label="Historico" tabindex="6">Historico</a></li>
        <li><a href="/Biografico" role="menuitem" aria-label="Biografico" tabindex="7">Biografico</a></li>
    </ul>

    <ul id="dropdownuser" class='dropdown-content'>
        <li><a href="/perfil">Perfil</a></li>
        {{#ifCond user.username "==" "Admin"}}
            <li><a href="/admin_eventos">Eventos</a></li>
            <li><a href="/admin_libro">Libros</a></li>
        {{/ifCond}}
        <li><a href="/Carrito">Carrito
            {{#if session.cart.totalQty}}
                <span >({{session.cart.totalQty}})</span>
            {{/if}}
        </a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

    <ul class="sidenav" id="mobile-nav">
        <li><a href="/Terror" role="menuitem" aria-label="Terror">Terror</a></li>
        <li><a href="/Aventura" role="menuitem" aria-label="Aventura">Aventura</a></li>
        <li><a href="/Erotico" role="menuitem" aria-label="Erótico">Erótico</a></li>
        <li><a href="/Romantico" role="menuitem" aria-label="Romántico">Romántico</a></li>
        <li><a href="/Historico" role="menuitem" aria-label="Historico">Historico</a></li>
        <li><a href="/Biografico" role="menuitem" aria-label="Biografico">Biografico</a></li>
        <li><a href="/eventos" role="menuitem" aria-label="Eventos">Eventos</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems    );
    });

    $('.dropdown-trigger').dropdown();
</script>