<html lang="es">
    {{> head}}
    
    <body>       
        {{> header}}

        <main>
            <table class="centered" role="table">
                <thead>
                    <tr role="row">
                        <th role="columnheader">Evento</th>
                        <th role="columnheader">Tipo</th>
                        <th role="columnheader">Fecha</th>
                        {{#ifCond user.username "==" "Admin"}}
                            <th role="columnheader">Borrar</th>
                        {{/ifCond}}
                    </tr>
                </thead>
        
                <tbody>
                    {{#ifCond user.username "==" "Admin"}}
                        {{#each events}}
                            <tr role="row">
                                <td role="cell">{{event}}</td>
                                <td role="cell">{{type}}</td>
                                <td role="cell">{{date}}</td>
                                <td role="cell">
                                    <form action="/eventos/borrar/{{_id}}" method="POST">
                                        <button class="delete_btn" type="submit">
                                            Borrar                                            
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {{/each}}
                    {{else}}
                        {{#each events}}
                            <tr role="row">
                                <td role="cell">{{event}}</td>
                                <td role="cell">{{type}}</td>
                                <td role="cell">{{date}}</td>
                            </tr>
                        {{/each}}
                    {{/ifCond}}
                    
                </tbody>
            </table>
        </main>
    </body>

    <footer>

    </footer>

</html>