<html lang="es">
    {{> head}}

    <body>

        <!-- Header section -->
        {{> header}}

        <!-- Errors section -->
        {{> errors}}

        <!-- Content section -->

        <div class="main-head hide-on-med-and-down">
            <h1>{{Tittle}}</h1>
        </div>
        <main>
            <div class="row">
                {{#each books}}
                    <div class="col s12 m6 l3">
                        <div class="card-product">
                            <img src="{{image}}" alt="Portada del libro {{tittle}} por {{author}}" tabindex="0">
                            
                            <div class="card-btn">
                                <a href="/Productos/add/{{this._id}}" role="button" aria-label="Añadir al carrito" tabindex="0" onclick="addCart('{{tittle}}', {{price}})"></a>
                            </div>

                            <div class="card-info">
                                <div class="card-info-holder" tabindex="0">
                                    <div class="card-price">
                                        <p>{{tittle}}</p>
                                        <br>
                                        <strong>Precio</strong>
                                        <span>{{price}}€</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </main>

        <script>
            function addCart(tittle, price){
                var aux = '{"tittle" : "' + tittle + '" , "price" : "' + price + '"}';
            }
        </script>
            
    </body>

</html>