<html lang="es">
    {{> head}}

    <body>

        <!-- Header section -->
        {{> header}}

        <!-- Errors section -->
        {{> errors}}

        <!-- Content section -->

        <div class="main-head hide-on-med-and-down">
            <h1>{{Tittle}}</h1>
        </div>

        <main>
                <!-- Products section -->
                <div class="row">
                    {{#each books}}
                        <div class="prod-container col s12 m6 l3">
                            <div class="card-profile">
                                <div class="card-profile_visual">
                                    <img src="{{image}}" alt="">
                                </div>

                                <div class="card-profile_user-infos">
                                    <span class="infos_name">{{tittle}}</span>
                                    <span class="infos_nick">{{author}}</span>

                                    <a href="#"></a>
                                </div>

                                <div class="card-profile_user-stats">
                                    <div class="stats-holder">
                                        <div class="user-stats">
                                            <strong>Precio</strong>
                                            <span>{{price}}€</span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    {{/each}}
                </div>                
        </main>
            
    </body>

</html>