<html>
    {{> head}}

    <body>
        {{> header}}

        <main>
            {{> errors}}
            
            <header id="site-header">
                <div class="container" tabindex="0">
                    <h1>Carrito</h1>
                </div>
            </header>

            <div class="container">
            
                {{#each cartProducts}}
                    <section id="cart">
                        <article class="product">
                        <header style=" background: url({{this.item.image}}) 50% 0% no-repeat; background-size: cover;" >
                            <a class="remove" href="/Productos/remove/{{this.item._id}}">
                                <h3>Eliminar</h3>
                            </a>
                        </header>

                        <div class="content" tabindex="0">

                            <h1>{{this.item.tittle}}</h1>

                            {{this.item.author}}
                        </div>

                        <footer class="content">
                            <a class="qt-minus" href="/Productos/reduce/{{this.item._id}}"> - </a>
                            <span class="qt">{{this.qty}}</span>
                            <a class="qt-plus" href="/Productos/addCart/{{this.item._id}}"> + </a>

                            <h2 class="full-price">{{this.price}}€</h2>

                            <h2 class="price">{{this.item.price}}€</h2>
                        </footer>
                        </article>
                    </section>
                {{/each}}
            </div>
            
            <footer id="site-footer">
                <div class="container clearfix" tabindex="0">
                    <div class="right">
                    <h1 class="total">Total: 
                        <span>
                            {{#if cartProducts}}
                                {{totalPrice}}
                            {{else}}
                                0
                            {{/if}}
                        </span>€
                    </h1>
                    <a class="btn" style="background-color: 343434;" tabindex="0">Comprar</a>
                    </div>

                </div>
            </footer>

        </main>
        
    </body>
</html>